<div class="fixed-bottom">
    <div class="row">
        <div class="col">
            <h2>Links de Interés</h2>
            <ul>
                <li>About us</li>
                <li>Contacto</li>
                <li>Legal</li>
                <li>Apoya</li>
            </ul>
        </div>
        <div class="col">
            <h2>Links de Interés</h2>
            <ul>
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
                <li>Link 4</li>
            </ul>
        </div>
        <div class="col">
            <h2>Links de Interés</h2>
            <ul>
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
                <li>Link 4</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p>Copyright - Lotus23 - 2021</p>
    </div>
</div>